BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Publicly accessible URL for the logo used in emails (must be reachable by email clients)
NEXT_PUBLIC_LOGO_URL=

# database
DATABASE_URL=

# github oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=